<!DOCTYPE html>
<html>

<head>
    <title>Secret to Hoppines</title>
    <link rel="icon" href="http://www.beertastes.com/img/beericon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="blog">
    <meta name="author" content="Kristin Gumbert">
    <meta name="keywords" content="beer blog">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Antic' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <style type="text/css"></style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js">
    </script>

    </style>
</head>

<body>

    <div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 content">
            <!-- header static -->
            <div class="nav text-center">
                <h5>
                &middot; <a href="/"> H O M E </a> &middot;
                <a href="/about"> A B O U T </a> &middot;
                <a href="/contact"> C O N T A C T </a> &middot;</h5>
            </div>
            <div class="logo text-center">
                <img src="/img/logo2.png" width="100%">
            </div>
            <!-- context area -->
            <div class="col-md-9">
                <div class="context">
                {{!-- <h1 id="fb-welcome"></h1> --}}
                {{{ body }}}
                    <br>
                </div>
            </div>
      
        
        <!-- sidebar -->
        <div class="col-md-3">
            <div class="sidebar">
                <div class="row socialLinks text-center">
                    <div class="col-md-12 text-center">
                        <a href="#" target="_blank">
                            <img src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/twitter_online_social_media-128.png" width="20%">
                        </a>
                        <a href="#" target="_blank">
                            <img src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_facebook-128.png" width="20%">
                        </a>
                        <a href="#" target="_blank">
                            <img src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/instagram_online_social_media_photo-128.png" width="20%">
                        </a>
                        <a href="#" target="_blank">
                            <img src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/64/social_media_logo_snapchat-128.png" width="20%">
                        </a>
                        <br>
                        <br>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="/img/danyelle.png" width="100%">
                        <p>Hi! I'm Danyelle Dell'olio</p>
                        <!--                             <form style="display:inline;" class="text-center">
                                <input type="search" name="search" value="SEARCH" class="text-center">
                            </form> -->
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 foot text-right">
                <a href="/">H O M E </a>
                <br>
                <a href="/about">A B O U T </a>
                <br>
                <a href="/contact">C O N T A C T </a>
                <br>
                <a href="/archive">A R C H I V E </a>
                <br>
                <br>
                <br>
                <h6 style="font-size:10px;">created by <a href="https://www.kristingumbert.com">Kristin J.  Gumbert</a></h6>
            </div>
        </div>
    </div>
{{!-- comment scripts --}}
    <script id="dsq-count-scr" src="//secrettohoppiness-com-2016-8-2-hoppy-ipa-day.disqus.com/count.js" async></script>
</body>

</html>
