<div class="post">
                        <div class="postTitle">
                            <h2> Edible Six Pack Rings</h2>
                            <h5 class="date">26 May 2016</h5>
                        </div>
                        <div class="postContent">
                            <div class="row">
                                <div class="col-md-5">
                                    In 2015, it was estimated that Americans drank 6.3 billion gallons of beer. About fifty-percent of that beer was canned. The six-pack rings on these cans are threatening the lives of birds and marine-life in our oceans. This has been an ongoing problem for years and has not been properly addressed until Saltwater Brewery recently came out with…Edible Six-Pack Rings!
                                </div>
                                <div class="col-md-7">
                                    <img src="/img/sixpack.png" width="100%">
                                    <div class="copyright text-right">image from www.iflscience.com</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p><a href="http://www.saltwaterbrewery.com/" target="_blank">Saltwater Brewery</a>, located in Delray Beach, Florida has created 100% biodegradable, edible six pack rings. These rings are made from beer by-products: barley and wheat ribbons. And, although the manufacturing costs are expensive, Chris Goves, the president of Saltwater Brewery believes that once other breweries adopt the idea, the manufacturing price will go down. Now our sea life can enjoy munching on these six-pack rings, instead of getting caught in them (humans can too!). Cheers to you Chris Goves and the rest of Saltwater Brewery! Thanks for saving the environment one six pack at a time!</p>
                                    <p>Saltwater Brewery offers their Sea Cow Milk Stout and Saltwater Screamin Reels IPA in cans. Go grab some of these buds and support this awesome brewery! </p>
                                </div>
                            </div>
                            <br>
                                                 <hr class="divider">
                            <div class="row">
                                <div class="col-md-11 text-right">
                                    <br>
                                    <h4>Cheers,</h4>
                                    <h3>Danyelle</h3>
                                    <br>
                                </div>
                            </div>
                            <div class="postLinks text-right">
                                <!-- facebook share -->
                                <span class="" data-href="http://ddellolio.herokuapp.com/margaritas_on_my_mind" data-layout="button" data-size="small" data-mobile-iframe="true">
                                    <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fddellolio.herokuapp.com%2Fmargaritas_on_my_mind&amp;src=sdkpreparse">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </span>
                                <!-- twitter share -->
                                <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world" data-size="default" target="_blank">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <!-- pinterest -->
                                <a href="https://pinterest.com/pin/create/button/?url=http%3A//ddellolio.herokuapp.com/margaritas_on_my_mind&media=http%3A//ddellolio.herokuapp.com/frenchMarg.png&description=" target="_blank">
                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                </a>
                                <!-- facebook comments -->
                                <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
                                    <div class="fb-comments" data-href="https://ddellolio.herokuapp.com/margaritas_on_my_mind" data-numposts="10">
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <!-- end post -->
                    </div>