<div class="post">
                    <div class="postTitle">
                        <h2> Best Summer Brews</h2>
                        <h5 class="date">2 June 2016</h5>
                    </div>
                    <div class="postContent">
                        <div class="row">
                            <div class="col-md-12">The heat of the summer makes it absolutely necessary to find delicious and refreshing beer; and we’re not talking Bud Light Lime or Corona…But instead, a beer that breaks the mass-market and serves us bright, juicy, citrusy, and sometimes hoppy buds. Not sure what to bring to the next barbeque outing? Try any of these fantastic brews and enjoy a true summer beer!
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">1. Founders All Day IPA (ABV 4.7%)  </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/img/foundersSummer.png" width="100%">
                                <div class="copyright text-right">image by sparkcreativesolutions.com</div>
                            </div>
                            <div class="col-md-8">This light, drinkable IPA was first released in Grand Rapids, Michigan as a seasonal in 2012. With its instant success, Founders decided in 2013 to brew this beer all year-round. This All Day IPA is brewed with a complex array of grains, hops, and malts and has floral hop notes and citrus aromas. If you’re a hop head and don’t want to settle for anything less this summer, the Founders All Day IPA is your perfect choice.
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">2. Allagash White (ABV 5.1%)</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/img/allagashSummer.png" width="100%">
                                <div class="copyright text-right">image by chicagotribune.com</div>
                            </div>
                            <div class="col-md-8">
                                Allagash White is a year-round beer, and a perfect Belgian wheat for summer. Spiced with coriander and Curacao orange peel, this beer is refreshingly fruity with a wheat flavor. Enjoy this beer all summer with a slice of lemon!
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">3. Ballast Point Grapefruit Sculpin (ABC 7.0%)</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/img/ballastSummer.png" width="100%">
                                <div class="copyright text-right">image by coolhunting.com</div>
                            </div>
                            <div class="col-md-8">
                                This award-winning IPA hails from San Diego, California. Ballast Point's Grapefruit Sculpin is one of my all-time favorite beers for summertime. The grapefruit added to this Sculpin is the perfect complement to the citrusy hops. This is a bright beer with aromas of apricot, peach, mango, and lemon with the grapefruit cutting through. One of my favorite beers that seems to be available everywhere you go!
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">4. Widmer Brothers Hefe Shandy (ABV 4.2%)</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/img/hefeSummer.png" width="100%">
                                <div class="copyright text-right">image by allaboutbeer.com</div>
                            </div>
                            <div class="col-md-8">
                                Widmer Brothers Brewing of Oregon announced the release of its summer seasonal, the Hefe Shandy in 2015. The Hefe Shandy has all of the flavors of Hefe but is brewed with a Lemon Drop hop. That just sounds juicy! The bold citrusy aroma and lemonade flavor is perfect for the summer. Nothing like a juicy, bright beer on a hot summer day!
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">5. New Belgium Summer Helles (ABV 5.0%)</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/img/nbSummer.png" width="100%">
                                <div class="copyright text-right">image by newbelgium.com</div>
                            </div>
                            <div class="col-md-8">
                                This beer was first brewed to celebrate 40 years of the Telluride Bluegrass Festival in Colorado and is now Planet Bluegrass’ signature beer. The aroma is of grains with a spicy-herbal, honey finish. A crisp, dry beer with sweetness from the German pilsner malt and a light bitter aspect from the Hallertau and Tettnang hops. A perfect beer for all of the musical festivities summer brings!
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">6. Forgotten Boardwalk’s Funnel Cake Beer (ABV 5.5%)</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/img/boardwalkSummer.png" width="100%">
                                <div class="copyright text-right">image by summerbeerreview.com</div>
                            </div>
                            <div class="col-md-8">
                                Forgotten Boardwalk's Funnel Cake Beer is a summer beer that will leave you reminiscent of the Jersey Shore. It is a cream ale that tastes like a funnel cake with a backdrop of faint hops. This is one of the smoothest beers yet with hints of vanilla and a cookie dough finish. If you have the chance to visit Forgotten Boardwalk’s Brewery in Cherry Hill, NJ you can enjoy skeeball, board games, and even a spin wheel! They are bringing the boardwalk to Cherry Hill!
                            </div>
                        </div>
                        <br>
                        <hr class="divider">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>                                
                                Grab these buds and enjoy the sun!
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <br>
                                <br>
                            </div>
                            <div class="col-md-5 text-right">
                                <br>
                                <br>
                                <h4>Cheers,</h4>
                                <h3>Danyelle</h3>
                            </div>
                        </div>
                        <div class="postLinks text-right">
                            <!-- facebook share -->
                            <span class="" data-href="http://ddellolio.herokuapp.com/margaritas_on_my_mind" data-layout="button" data-size="small" data-mobile-iframe="true">
                                    <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fddellolio.herokuapp.com%2Fmargaritas_on_my_mind&amp;src=sdkpreparse">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </span>
                            <!-- twitter share -->
                            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world" data-size="default" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <!-- pinterest -->
                            <a href="https://pinterest.com/pin/create/button/?url=http%3A//ddellolio.herokuapp.com/margaritas_on_my_mind&media=http%3A//ddellolio.herokuapp.com/frenchMarg.png&description=" target="_blank">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                            <!-- facebook comments -->
                            <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
                                <div class="fb-comments" data-href="https://ddellolio.herokuapp.com/margaritas_on_my_mind" data-numposts="10">
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <!-- end post -->
                </div>