<div class="post">
                    <div class="postTitle">
                        <h2> Asbury Festhalle & Biergarten</h2>
                        <h5 class="date">13 June 2016</h5>
                    </div>
                    <div class="postContent">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="/img/asbury1.png" width="100%">
                                <div class="copyright text-right">image by asburybiergarten.com</div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <p>The Festhalle & Biergarten of Asbury Park is a perfect communal gathering to enjoy wursts and bier on the rooftop, or seated in the Festhalle. “We believe we provide a great gathering place for the community,” said Andy Ivanov, co-owner of the restaurant. And that is what this restaurant achieved, from the festival hall accommodating 290 people with 22 people at the bar, and the rooftop bar accommodating 450 people with 22 people at the outside bar. </p>
                                <p>I strolled in to the Festhalle & Biergarten to enjoy a nice lunch while visiting the Asbury Park beach. A jitney drove me there from the boardwalk for free! (It is in walking distance though.) I walked into an expansive hall with large communal tables and a beautiful bar. The building, a converted warehouse from over 100 years old has industrial-style touches with hand-painted murals, and large arch windows. I walked up the stairs to head to the rooftop Biergarten and was amazed! The biergarten was large with multiple levels, ample seating, a bar, and a food cart. I sat at the bar and ordered my first bier, a Braufactum Progusta IPA, a nice sweet bier, with a light hoppiness. It was a perfect IPA for 80 degree weather, not too heavy! I also bought a $6 ticket for food at the food cart. I had a jalepeno-chedder wurst with sauerkraut, and it was awesome! Perfect day, great food, outstanding bier, and magnificent space up on the rooftop!</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="/img/asbury2.png" width="100%">
                                <div class="copyright text-right">image by idrinkgoodbeer.com</div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                The Festhalle & Biergarten offer 41 draft and 71 bottled biers.  The menu is Austro-Hungarian with plates like Wiener Schnitzel, German mac and cheese, bratwurst, and much more.  The rooftop serves only a couple wursts, sides, and a huge Bavarian pretzel, whereas the festival hall serves a full menu.  They offer a happy hour Monday through Friday from open till 7:00PM and have nice daily specials.  On Saturday mornings they have rooftop yoga, and there is always live music on the weekends.  Check out their <a href="http://www.asburybiergarten.com/">website</a>, and definitely plan a trip to this Festhalle & Biergarten; it is truly a gem of Asbury.    
                            </div>
                        </div>
                        <br>
                        <hr class="divider">
                        <div class="row">
                            <div class="col-md-6">
                                <br>
                                <br>
                            </div>
                            <div class="col-md-5 text-right">
                                <br>
                                <br>
                                <h4>NA ZDRAVI. (Cheers!)</h4>
                                <h3>Danyelle</h3>
                            </div>
                        </div>
                        <div class="postLinks text-right">
                            <!-- facebook share -->
                            <span class="" data-href="http://ddellolio.herokuapp.com/margaritas_on_my_mind" data-layout="button" data-size="small" data-mobile-iframe="true">
                                    <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fddellolio.herokuapp.com%2Fmargaritas_on_my_mind&amp;src=sdkpreparse">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </span>
                            <!-- twitter share -->
                            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world" data-size="default" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <!-- pinterest -->
                            <a href="https://pinterest.com/pin/create/button/?url=http%3A//ddellolio.herokuapp.com/margaritas_on_my_mind&media=http%3A//ddellolio.herokuapp.com/frenchMarg.png&description=" target="_blank">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                            <!-- facebook comments -->
                            <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
                                <div class="fb-comments" data-href="https://ddellolio.herokuapp.com/margaritas_on_my_mind" data-numposts="10">
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <!-- end post -->
                </div>