<div class="post">
                    <div class="postTitle">
                        <h2>Poses n' Pints</h2>
                        <h5 class="date">15 June 2016</h5>
                    </div>
                    <div class="postContent">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <img src="/img/beeryoga.png" width="100%">
                                <div class="copyright text-right">image by asburybiergarten.com</div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Acrobatic yoga, cat yoga, aerial yoga, stand-up paddle yoga, and now…beer yoga! No need to choose whether you will make it to happy hour, or instead, take the healthy route and go to your favorite yoga studio. Your new yoga studio is in the brewery! </p>
                                <p> Enjoy a drop-in yoga class at one of these ten breweries and then stick around for a pint, or some beer tastings. Nothing quenches your thirst after a hard workout, than a refreshing pilsner. And, nothing feels better than being part of a great community.</p>
                                <p>The yoga and craft beer communities are some of the strongest communities I have had the honor to be a part of. For some people though, a yoga studio can come off as exclusive or intimidating. Taking a yoga class and sticking it in a relaxed environment such as a brewery really compliments both activities. Go solo and get a chance to meet new exciting people with similar interests, or, bring some friends to try new poses and drink some pints together!</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">Call ahead or check out the website to find beer yoga near you!</h3>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-11 col-md-offset-1">
                                <a href="http://www.rinnduinbrewing.com/index.html" target="_blank">Rinn Duin Brewery</a> – Toms River, NJ <br>
                                <a href="http://www.weyerbacher.com/" target="_blank">Weyerbacher Brewery</a> - Easton, PA<br>
                                <a href="http://www.riverhorse.com/" target="_blank">River Horse Brewery</a> - Ewing, NJ<br>
                                <a href="http://gunhillbrewing.com/" target="_blank">Gun Hill Brewing Co.</a> - Bronx, NY<br>
                                <a href="http://www.darkcitybrewing.com/" target="_blank">Dark City Brewing</a> - Asbury Park, NJ<br>
                                <a href="http://www.victorybeer.com/" target="_blank">Victory Brewing Co.</a> – Downingtown, PA<br>
                                <a href="http://www.thebronxbrewery.com/" target="_blank">Bronx Brewery</a> - Bronx, NY<br>
                                <a href="http://www.sanitasbrewing.com/" target="_blank">Sanitas Brewing Company</a> - Boulder, Colorado<br>
                                <a href="http://angelcitybrewery.com/" target="_blank">Angel City Brewery</a> - Los Angeles, California<br>
                                <a href="http://raleighbrewingcompany.com/" target="_blank">Raleigh Brewing Co.</a> – Raleigh, North Carolina<br>
                            </div>
                        </div>
                        <br>
                        <hr class="divider">
                        <div class="row">
                            <div class="col-md-6">
                                <br>
                                <br>
                            </div>
                            <div class="col-md-5 text-right">
                                <br>
                                <br>
                                <h4>From your fellow #beeryogi,</h4>
                                <h3>Danyelle</h3>
                            </div>
                        </div>
                        <div class="postLinks text-right">
                            <!-- facebook share -->
                            <span class="" data-href="http://ddellolio.herokuapp.com/margaritas_on_my_mind" data-layout="button" data-size="small" data-mobile-iframe="true">
                                    <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fddellolio.herokuapp.com%2Fmargaritas_on_my_mind&amp;src=sdkpreparse">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </span>
                            <!-- twitter share -->
                            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world" data-size="default" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <!-- pinterest -->
                            <a href="https://pinterest.com/pin/create/button/?url=http%3A//ddellolio.herokuapp.com/margaritas_on_my_mind&media=http%3A//ddellolio.herokuapp.com/frenchMarg.png&description=" target="_blank">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                            <!-- facebook comments -->
                            <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
                                <div class="fb-comments" data-href="https://ddellolio.herokuapp.com/margaritas_on_my_mind" data-numposts="10">
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <!-- end post -->
                </div>