<div class="post">
                    <div class="postTitle">
                        <h2> The Guide to Pudding Shots</h2>
                        <h5 class="date">29 June 2016</h5>
                    </div>
                    <div class="postContent">
                        <div class="row">
                            <div class="col-md-12">
                                For your next party, leave the Jell-O shots behind and make room for sweet, delicious pudding shots. Far superior to the Jell-O shot, pudding shots are great for dessert, or as a daytime party snack. About 4 boxes of pudding can yield up to 200 pudding shots. And if you are hosting the party, your guests will love you!
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <img src="/img/puddingshots.png" width="100%">
                                <div class="copyright text-right">image by jelly-shot-test-kitchen.blogspot.com</div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">Pistachio Pudding Shots</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Ingredients:</h4> 1-3.2 oz. Box of Pistachio pudding
                                <br> ½ C. Milk
                                <br> 1 C. Vodka
                                <br> 1 C. Cool Whip or whipped cream
                                <h4>Garnish:</h4> Rainbow sprinkles or shelled pistachios crushed
                                <h4>Directions:</h4> Combine pudding mix, milk, vodka, and stir until the mixture is completely combined. Stir in the whipped topping, place in cups, and chill. Add garnish once chilled.
                                <br>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">Raspberry Cheesecake Pudding Shots</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Ingredients:</h4> 4 oz. pkg Cheesecake flavor instant pudding mix
                                <br> 1 C. cold milk
                                <br> 3 oz. Vanilla Schnapps or vanilla flavored vodka
                                <br> 3 oz. Raspberry Pucker or a berry Schnapps
                                <br> 1 C. thawed Cool Whip, divided
                                <h4>Garnish:</h4> Graham Crackers-crushed
                                <h4>Directions:</h4>Combine pudding and cold milk with whisk or electric mixer. Divide in half into two bowls. Add Vanilla Schnapps to one bowl, and the Raspberry Pucker to the other pudding bowl. Fold in ½ C. of Cool Whip in each bowl. Fill shot cups up halfway with the Vanilla mixture and top it with the raspberry mixture. Sprinkle on graham crackers and chill.
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">Mudslide Pudding Shots</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Ingredients:</h4> 4 oz. pkg. Chocolate instant pudding
                                <br> 1 C. cold milk
                                <br> 3 oz. Bailey’s Irish Liqueur
                                <br> 3 oz. Kahlua
                                <br> 1 C. thawed Cool Whip
                                <h4>Directions:</h4> Combine the cold milk and pudding with a whisk or electric mixer then blend in liquors. Fold in the cool whip until blended evenly, fill cups, and chill.
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">Slippery Nipple Pudding Shots</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Ingredients:</h4>4 oz. Butterscotch instant pudding mix
                                <br> ¾ C. Cold milk
                                <br> 3 oz. Bailey’s Irish Cream liqueur
                                <br> 3 oz. Butterscotch Schnapps
                                <br> 1 C. thawed Cool Whip
                                <h4>Directions:</h4>Combine the cold milk and pudding mix with electric mixer or whisk. Then add the liquors. Fold in the Cool Whip till fully blended, fill cups, and chill.
                                <br>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">Birthday Cake Pudding Shots</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Ingredients:</h4> 1 Small Box of Jell-O Vanilla Instant Pudding
                                <br> ¾ C. Milk
                                <br> 8 oz. Cool Whip
                                <br> ½ C. Cake Vodka
                                <h4>Garnish:</h4> Rainbow Sprinkles
                                <h4>Directions:</h4>Mix together pudding and milk then stir in the alcohol. Fold in cool whip and sprinkles. Transfer to cups and freeze overnight.
                                <br>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">Brandy Alexander Pud’n Shots</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Ingredients:</h4> 1 Small box of Chocolate Instant Pudding
                                <br> 6 oz. Brandy
                                <br> 1 Tsp. freshly grated nutmeg
                                <br> 8 oz. Cool Whip
                                <h4>Directions:</h4>Combine milk and pudding mix with a whisk or electric mixer. Blend in liquor and nutmeg. Fold in the Cool Whip until blended, fill cups, and chill.
                                <br>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">Banana Cream Pudding Shots</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Ingredients:</h4> 1 Pkg. Banana Cream Pudding ¾ C. Skim milk
                                <br> ¾ C. Rum Chata
                                <br> 1-8oz. Lite Whip Cream
                                <h4>Directions:</h4>Whisk milk, alcohol, and pudding together. Fold in whip cream, put in cups, and chill.
                            </div>
                        </div>
                        <hr class="divider">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>I hope you enjoy all of these delectable pudding shot recipes!  </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <br>
                                <br>
                            </div>
                            <div class="col-md-5 text-right">
                                <br>
                                <br>
                                <h4>Cheers,</h4>
                                <h3>Danyelle</h3>
                            </div>
                        </div>
                        <div class="postLinks text-right">
                            <!-- facebook share -->
                            <span class="" data-href="http://ddellolio.herokuapp.com/margaritas_on_my_mind" data-layout="button" data-size="small" data-mobile-iframe="true">
                                    <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fddellolio.herokuapp.com%2Fmargaritas_on_my_mind&amp;src=sdkpreparse">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </span>
                            <!-- twitter share -->
                            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world" data-size="default" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <!-- pinterest -->
                            <a href="https://pinterest.com/pin/create/button/?url=http%3A//ddellolio.herokuapp.com/margaritas_on_my_mind&media=http%3A//ddellolio.herokuapp.com/frenchMarg.png&description=" target="_blank">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                            <!-- facebook comments -->
                            <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
                                <div class="fb-comments" data-href="https://ddellolio.herokuapp.com/margaritas_on_my_mind" data-numposts="10">
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>