<div class="post">
                    <div class="postTitle">
                        <h2> Summer Beer Games</h2>
                        <h5 class="date">29 June 2016</h5>
                    </div>
                    <div class="postContent">
                        <div class="row">
                            <div class="col-md-12">
                                It is officially summer! The barbeques have started, the beachgoers have made their pilgrimage, and the beer games have made their way into every backyard party. It doesn’t matter if it’s a family party, frat party, or a hangout at the beach, beer games are a necessity. There’s nothing better than hanging with friends all day in the 80 degree weather drinking beers, grilling, and chilling. Here are the top beer games to have at your next get-together.
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">Spike Ball</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                Although it is nearly impossible to play this one with a beer in your hand, you can definitely try. Two teams play against each other, taking turns spiking the ball into the trampoline, making it hard for the opponent to return the ball. Definitely a fast-paced, intense game. Try it while holding a beer, or just make the loser chug? Can’t lose when there’s beer involved!
                                <br>
                            </div>
                            <div class="col-md-5">
                                <img src="/img/spikeGame.png" width="100%">
                                <div class="copyright text-right">image by youtube.com</div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">Polish Horseshoes </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <img src="/img/polishGame.png" width="100%">
                                <div class="copyright text-right">image by yardgames.us</div>
                            </div>
                            <div class="col-md-7">
                                Polish horseshoes is one of my favorite beer games. I didn’t even think of playing it in the ocean! (This picture inspired me.) Set up two stakes about 50 feet from each other and put a beer can or bottle on top of each stake. Two teams take turns trying to hit the bottle off the stake, or hit the stake for points till they reach 21. The catch is, with a beer in one of your hands! That’s right. You have to catch your partners Frisbee throw with one hand. Good luck!!
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">Oversized Beer Pong</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                Life size beer pong! You can use garbage cans, 5-gallon buckets, or purchase your cups <a href="http://bearpong.com/" target="_blank">here</a>. Use a volleyball and drain your cups with a splash! Now, filling the cups with beer? Maybe I would pass on that…
                            </div>
                            <div class="col-md-5">
                                <img src="/img/pongGame.png" width="100%">
                                <div class="copyright text-right">image by twitter.com</div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">Dizzy Bat</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <img src="/img/dizzygame.png" width="100%">
                                <div class="copyright text-right">image by america.pink</div>
                            </div>
                            <div class="col-md-7">
                                For best results, start this game after you’ve had a couple. Fill the bat with beer, chug the beer, spin around the bat, hit the ball, and run! Fall! Stumble! It’s all in good fun!
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">Ladder Ball</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                This is one of the more relaxing games to play.  Enjoy a nice brew, toss some balls on a string, and hope to wrap them around the middle rung of the ladder. 3 points!!!  Played with 4 people, this game is a crowd pleaser.  Especially because it doesn’t involve sweating!
                            </div>
                            <div class="col-md-7">
                                <img src="/img/laddergame.png" width="100%">
                                <div class="copyright text-right">image by globalflare.com</div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">KanJam</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <img src="/img/kanjamgame.png" width="100%">
                                <div class="copyright text-right">image by backonbeerbullshit.com</div>
                            </div>
                            <div class="col-md-5">
                                KanJam is a lot like Polish Horseshoes.  This game requires you to throw a Frisbee, or catch the Frisbee, with a beer in hand.  Aim the Frisbee at the can and try and get it through the slit in the front, into the top, or to your partner who can slam it into the stop.  Just make sure the Frisbee doesn’t hit the ground, or you’re drinking!
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">Cornhole</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                Cornhole is what a person that has graduated college considers a “traditional” summer drinking game.  It is similar to horseshoes, just instead of throwing heavy iron shoes; you throw corn-filled bags into a hole.  Simple, easy-going game, perfect for day drinking!
                            </div>
                            <div class="col-md-7">
                                <img src="/img/cornholegame.png" width="100%">
                                <div class="copyright text-right">image by volitude.leagueapps.com</div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="date">Horseshoes</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <img src="/img/horseshoesgame.png" width="100%">
                                <div class="copyright text-right">image by bibaojaialai.com</div>
                            </div>
                            <div class="col-md-5">
                                The game of horseshoes has been around for a while and has faded a bit since cornhole has taken over.  Still, this is a game that people of all ages can enjoy and its perfect pairing is a beer in the non-throwing hand.  Picnics, backyards, and beaches, you can play this game just about anywhere!
                            </div>
                        </div>
                        <hr class="divider">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>I hope you enjoy some of these games at your next beer bash!</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <br>
                                <br>
                            </div>
                            <div class="col-md-5 text-right">
                                <br>
                                <br>
                                <h4>Cheers,</h4>
                                <h3>Danyelle</h3>
                            </div>
                        </div>
                        <div class="postLinks text-right">
                            <!-- facebook share -->
                            <span class="" data-href="http://ddellolio.herokuapp.com/margaritas_on_my_mind" data-layout="button" data-size="small" data-mobile-iframe="true">
                                    <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fddellolio.herokuapp.com%2Fmargaritas_on_my_mind&amp;src=sdkpreparse">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </span>
                            <!-- twitter share -->
                            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world" data-size="default" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <!-- pinterest -->
                            <a href="https://pinterest.com/pin/create/button/?url=http%3A//ddellolio.herokuapp.com/margaritas_on_my_mind&media=http%3A//ddellolio.herokuapp.com/frenchMarg.png&description=" target="_blank">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                            <!-- facebook comments -->
                            <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
                                <div class="fb-comments" data-href="https://ddellolio.herokuapp.com/margaritas_on_my_mind" data-numposts="10">
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>