<div class="post">
                    <div class="postTitle">
                        <h2> Brewer Interview:  Charles Backmann of Cypress Brewing Co.</h2>
                        <h5 class="date">5 July 2016</h5>
                    </div>
                    <div class="postContent">
                        <div class="row">
                            <div class="col-md-12">
                                At Cypress Brewing Company in Edison New Jersey, beer does not fall short of full-bodied flavor. A 2 BBL brewery that opened July 2nd, 2015 with 3 owners Charles Backmann, William Lutz III, and Jason Kijowski, Cypress, is pushing the envelope with their craft styles of beer and flavors. They tap several different beers a week so every time you go, you’re up for a new experience.
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <img src="/img/cypress1.png" width="100%">
                                <div class="copyright text-right">[Left to Right: Ethan Wallman (Intern), Megan Henning (Bartender), Charlie Backmann (Co-owner, Head Brewer), Danyelle Dell’Olio]</div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                Located in the industrial part of Edison, Cypress is a hidden treasure to the Middlesex County beer scene. When you walk in, you are greeted with a few bar tables, a bar with an 8-tap system, two flat screen TVs, and a lot of friendly faces. Charlie, the head brewer and co-owner is usually around to answer any questions and chat with you about his success so far and plans for the future. I had the pleasure to chat with Charlie and ask him some questions about Cypress. Enjoy! </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <br>
                                <table class="table">
                                    <tr>
                                        <td><strong>DD:</strong></td>
                                        <td>When was Cypress founded?</td>
                                    </tr>
                                    <tr>
                                        <td><strong>CB:</strong></td>
                                        <td>Well, the process started in April of 2014, but we opened July 2nd, 2015. We actually started as a homebrew club first.</td>
                                    </tr>
                                    <tr>
                                        <td><strong>DD:</strong></td>
                                        <td>What is your history of brewing and have you had any formal training brewing?</td>
                                    </tr>
                                    <tr>
                                        <td><strong>CB:</strong></td>
                                        <td>Well…I was in wine. And, managed fine dining restaurants. After I left the restaurant biz, JJ (JJ Bitting Brewing Company) hired me. I was the General Manager and Jay (Jason Kijowski co-owner) was the Assistant Manager.</td>
                                    </tr>
                                    <tr>
                                        <td><strong>DD:</strong></td>
                                        <td>How many people help run the operations at Cypress?</td>
                                    </tr>
                                    <tr>
                                        <td><strong>CB:</strong></td>
                                        <td>Just the three of us, a couple bartenders, and an intern!</td>
                                    </tr>
                                    <tr>
                                        <td><strong>DD:</strong></td>
                                        <td>What type of festivals and/or conferences have you been with this brewery?</td>
                                    </tr>
                                    <tr>
                                        <td><strong>CB:</strong></td>
                                        <td>All of the festivals in New Jersey. We’ve been to a lot so far.</td>
                                    </tr>
                                    <tr>
                                        <td><strong>DD:</strong></td>
                                        <td>Have you won any awards for your beer?</td>
                                    </tr>
                                    <tr>
                                        <td><strong>CB:</strong></td>
                                        <td>At the Atlantic City Beer Festival we won 2nd in the state out of 45 breweries for our Vanilla Porter.</td>
                                    </tr>
                                    <tr>
                                        <td><strong>DD:</strong></td>
                                        <td>What is one of the weirdest ingredients you have used in making your beer?</td>
                                    </tr>
                                    <tr>
                                        <td><strong>CB:</strong></td>
                                        <td>Chanterelle Mushrooms in our Belgian Dubbel. I also do candied ginger. Who does candied ginger!?</td>
                                    </tr>
                                    <tr>
                                        <td><strong>DD:</strong></td>
                                        <td>Okay, so if you had to pick your favorite beer from the brewery, and offer it to a complete stranger, which one would it be and why?</td>
                                    </tr>
                                    <tr>
                                        <td><strong>CB:</strong></td>
                                        <td>The 17-Mile IPA because it’s the base IPA.</td>
                                    </tr>
                                    <tr>
                                        <td><strong>DD:</strong></td>
                                        <td>What are the hops used in the 17-Mile?</td>
                                    </tr>
                                    <tr>
                                        <td><strong>CB:</strong></td>
                                        <td>Centennial & Simcoe</td>
                                    </tr>
                                    <tr>
                                        <td><strong>DD:</strong></td>
                                        <td>
                                            If you could sit down with anyone (living or dead) and have a beer with them who would it be?
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>CB:</strong></td>
                                        <td>George Washington. He brewed! He was a homebrewer.</td>
                                    </tr>
                                    <tr>
                                        <td><strong>DD:</strong></td>
                                        <td>Any advice you wish someone would have given you before you started Cypress?</td>
                                    </tr>
                                    <tr>
                                        <td><strong>CB:</strong></td>
                                        <td>We need a bigger boat!</td>
                                    </tr>
                                    <tr>
                                        <td><strong>DD:</strong></td>
                                        <td>How big is your space?</td>
                                    </tr>
                                    <tr>
                                        <td><strong>CB:</strong></td>
                                        <td>2200 square feet. Doubling in September to be on a 20 barrel system, 40 barrel fermenters.</td>
                                    </tr>
                                    <tr>
                                        <td><strong>DD:</strong></td>
                                        <td>And last but not least, favorite beer and food pairing?</td>
                                    </tr>
                                    <tr>
                                        <td><strong>CB:</strong></td>
                                        <td>Pizza and Enjoy By IPA</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                Cypress is open Monday-Friday 2pm-10pm, Saturday 12pm-10pm and Sunday 2pm-9pm. Pints are sold depending on ABV. $5/$6. Flights of four are $6. Growlers depend on ABV.
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <img src="/img/cypress2.png" width="100%">
                                <div class="copyright text-right">image by newjerseyisntboring.com</div>
                            </div>
                            <div class="col-md-7">
                                <h4>Right now on tap are: </h4> Cypress Insane in the Grain IPA- 8.5% (India Pale Ale)
                                <br> Hazlenut Brown Ale- 6.0% (Brown Ale)
                                <br> Cypress Knobbed Welk- 5.3% (Amber Ale/Red Ale)
                                <br> Cypress Northen English Nut Brown Ale- 4.6% (Brown Ale)
                                <br> Cypress Raz Weize Guy- 5.0% (German Hefeweizen)
                                <br> Weize Guy- 5.0% (German Hefeweizen)
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            <br>
                                Be sure to check out Cypress Brewing Company next time you’re in the area!  And if you get the chance, try my favorites, the Cappuccino Tiramisu Nut Brown Ale and the Chocolate Porter!
                            </div>
                        </div>
                                                <hr class="divider">

                        <div class="row">
                            <div class="col-md-6">
                                <br>
                                <br>
                            </div>
                            <div class="col-md-5 text-right">
                                <br>
                                <br>
                                <h4>Cheers,</h4>
                                <h3>Danyelle</h3>
                            </div>
                        </div>
                        <div class="postLinks text-right">
                            <!-- facebook share -->
                            <span class="" data-href="http://ddellolio.herokuapp.com/margaritas_on_my_mind" data-layout="button" data-size="small" data-mobile-iframe="true">
                                    <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fddellolio.herokuapp.com%2Fmargaritas_on_my_mind&amp;src=sdkpreparse">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </span>
                            <!-- twitter share -->
                            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world" data-size="default" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <!-- pinterest -->
                            <a href="https://pinterest.com/pin/create/button/?url=http%3A//ddellolio.herokuapp.com/margaritas_on_my_mind&media=http%3A//ddellolio.herokuapp.com/frenchMarg.png&description=" target="_blank">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                            <!-- facebook comments -->
                            <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
                                <div class="fb-comments" data-href="https://ddellolio.herokuapp.com/margaritas_on_my_mind" data-numposts="10">
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>