
    <div class="post">
        <div class="postTitle">
            <h2>Hoppy IPA Day!</h2>
            <h5 class="date">2 August 2016</h5>
        </div>
        <div class="postContent">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <img src="/img/ipaday.png" width="100%">
                    <div class="copyright text-right">
                        image by sweetwaterbrew.com
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-12">
                    <p>This Thursday, August 4th is National IPA Day! Being a
                    hop-head myself I cannot wait to spend my Thursday night
                    trying different IPAs to celebrate this fantastic...
                    necessary holiday. The craft beer scene is exploding with
                    so many varieties of IPAs, there’s one for everyone! Just
                    last year, the most-entered category in the Great American
                    Beer Festival was the <strong>American-Style India Pale
                    Ale</strong> with 336 entries and the <strong>Imperial
                    India Pale Ale</strong> in second place with 208
                    entries.</p>
                    <p>So this Thursday hop into your favorite brewpub,
                    brewery, bar, or fridge, and grab some delicious floral,
                    piney, hoppy buds. If you need some motivation towards a
                    great pick, here are some of my favorites…</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-11 col-md-offset-1">
                    <a href="http://www.stonebrewing.com/" target=
                    "_blank">Stone Brewery</a>- Cali-Belgique IPA<br>
                    <a href="http://www.manayunkbrewery.com/" target=
                    "_blank">Manayunk Brewery</a>- Daydreamin’ Session IPA<br>
                    <a href="http://cypressbrewing.com/" target=
                    "_blank">Cypress Brewing</a>– Insane in the Grain<br>
                    <a href="http://foundersbrewing.com/" target=
                    "_blank">Founders Brewing Company</a>– All Day IPA<br>
                    <a href="http://www.ballastpoint.com/" target=
                    "_blank">Ballast Point Brewing Company</a>– Sculpin
                    American IPA<br>
                    <a href="http://www.weyerbacher.com/" target=
                    "_blank">Weyerbacher Brewing Co.</a>– Double Simcoe IPA<br>
                    <a href="http://www.vailbrewingco.com/" target=
                    "_blank">Vail Brewing Company</a>- Tourist Trap<br>
                    <a href="http://www.riverhorse.com/beers.php" target=
                    "_blank">River Horse</a>– Hippotizing IPA<br>
                    <a href="http://cartonbrewing.com/" target="_blank">Carton
                    Brewing</a>– 077XX<br>
                    <a href="www.dogfish.com/" target="_blank">Dogfish
                    Brewery</a>– (60, 75, 90, or 120 Minute)<br>
                </div>
            </div><br>
            <hr class="divider">
            <div class="row">
                <div class="col-md-6">
                    <br>
                    <br>
                </div>
                <div class="col-md-5 text-right">
                    <br>
                    <br>
                    <h4>Have a Hoppy Day,</h4>
                    <h3>Danyelle</h3>
                </div>
            </div>
        </div>
    </div>