<div class="postTitle">
                        <h3> A B O U T &nbsp;  M E </h3>
</div>

<div class="postContent">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                        <h4 class="text-center">Meet Danyelle</h4>
                        <p class="text-center"><img src="/img/danyelle2.jpg" width="50%" class="img-rounded"></p>
<p>I am a beer lover who loves to get frisky with whiskey.  During my free time I enjoy visiting breweries, craft cocktail bars, whiskey libraries, rum sanctuaries, and wineries. I will travel around the country (and beyond) for a new boozy experience.  Oh, and I enjoy eating delicious food. Basically my idea of heaven is a biergarten:  bier and sausage (+ GIANT PRETZELS) is truely perfection at its finest.</p>  
<h6 class="text-right">“I am a trisexual. I’ll try anything once” – <br>
<i>Samantha from Sex In the City.</i>  </h6>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
</div>
</div>