<div class="postTitle">
                        <h3> A B O U T &nbsp;  M E </h3>
</div>

<div class="postContent">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                        <h4 class="text-center">Meet Danyelle</h4>
I am a beer lover that loves to get frisky with whiskey.  I spend most of my free time visiting breweries, 
craft cocktail bars, whiskey libraries, rum sanctuaries, and wineries.  Oh, I also really enjoy eating 
delicious food.   My heaven is being in a biergarten:  bier and sausage.  Perfection at its #nest.   I will eat 
anything and drink everything you put in front of me.  
<h6 class="text-right">“I am a trisexual. I’ll try anything once” – <br>
<i>Samantha from Sex In the City.</i>  </h6>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
</div>
</div>