     <div class="postTitle">
                            <h3> A R C H I V E </h3>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <h3>2016</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-1">
                                <h4>MAY</h4>
                                <a href="/2016/5/26/edible_six_pack_rings">
                                Edible Six Pack Rings</a>
                            </div>
                            <div class="col-md-3">
                                <h4>JUNE</h4>
                                <a href="/2016/6/2/best_summer_brews">
                                Best Summer Brews</a>
                                <br>
                                <a href="/2016/6/3/nyc_craft_beer_fest">
                                NYC Craft Beer Fest</a>
                                <br>
                                <a href="2016/6/9/new_jersey_beach_bars">
                                New Jersey Beach Bars</a>
                                <br>
                                <a href="/2016/6/9/weekend_vineyards">
                                Weekend Vineyards</a>
                                <br>
                                <a href="/2016/6/13/asbury_biergarten">
                                Asbury Park Biergarten</a>
                                <br>
                                <a href="/2016/6/15/poses_n_pints">
                                Poses 'n Pints</a>
                                <br>
                                <a href="/2016/6/17/drinks_for_dad">
                                Drinks for Dad</a>
                                <br>
                                <a href="/2016/6/29/pudding_shots">
                                Pudding Shots</a>
                                <br>
                                <a href="/2016/6/29/summer_beer_games">
                                Summer Beer Games</a>
                                <br>
                                <a href="/2016/6/30/american_punch">
                                American Punch</a>
                                <br>
                            </div>
                            <div class="col-md-3">
                                <h4>JULY</h4>
                                <a href="/2016/7/5/cypress_brewing">
                                Cypress Brewing</a>
                                <br>
                                <a href="/2016/7/14/margaritas_on_my_mind">
                                Margaritas on My Mind</a>
                                <br>
                              
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-1">
                                <h4>AUGUST</h4>
                                  <a href="/2016/8/2/hoppy_ipa_day">
                                IPA Day</a><br>
                            </div>
{{!--                             <div class="col-md-3">
                                <h4>SEPTEMBER</h4>
                                
                                <br>
                            </div>
                            <div class="col-md-3">
                                <h4>OCTOBER</h4>
                                
                                <br>
                                
                                
                            </div> --}}
                        </div>
                        <br>
                        <br>