        body {
            width: 100%;
            font-family: 'Antic', sans-serif;
        }
        
        .nav {
            border-width: 2px;
            /*border-bottom: dotted;*/
            /*position: fixed;*/
            background-color: white;
            padding: 0px;
        }
        
        .nav a {
            color: black;
        }

        a:active {
            color: black;
        }
        
        .logo {
            border-width: 2px;
            /*border-bottom: dotted;*/
            border-top: dotted;
            border-color: #007277;
            margin: 0px;
        }
        
        .content {
            border-right: 3px solid black;
            border-left: 3px solid black;
            height: 100%;
            background-color: white;
        }
        
        .context {
            border-width: 5px;
            border-right: double;
            padding: 0;
            padding-right: 0;
            padding-top: 0;
        }
        
        .sidebar {
            padding: 0px;
        }
        
        .foot {
            color: white;
            background-color: black;
            padding: 10px;
        }
        /*index.html css*/
        
        .postTitle {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            padding: 10px;
            padding-right: 0;
        }
        
        .postContent {
            padding: 5px;
        }
        
        .postLinks {
            border-width: 2px;
            border-top: double;
            border-bottom: double;
            padding: 10px;
            padding-right: 10;
        }
        
        a {
            /*color: #007277;*/
            color: black;
        }
        
        a:hover {
            text-decoration: none;
            /*color: #198084;*/
            color: black;
        }
        
        .socialLinks {
            margin: 0;
            border-bottom: dotted;
            border-color: #007277;
        }
        
        .sidebar {
            padding: 0;
            margin: 0;
        }
        
        .foot a {
            color: white;
        }
        
        .foot {
            padding: 20px;
        }
        
        .logo {
            border-bottom: none;
        }
        
        .date {
            color: #007277;
        }
        
        hr.divider {
            border-top: dotted;
            color: #007277;
        }
        
        .copyright {
            padding: 0;
            margin: 0;
            font-size: 8px;
        }
        
        @media(max-width:767px) {
            .col-md-10 {
                width: 100%;
            }
            .content {
                border: none;
                width: 100%;
                font-size: 16px;
            }
            .context {
                border: none;
                width: 100%;
            }
            .logo {
                width: 100%;
            }
            .socialLinks {
                padding-top: 15px;
            }
        }
/*contact.handlebars*/

    @import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: black;
        font-size: 0.875em;
    }
    
    input:focus::-webkit-input-placeholder,
    textarea:focus::-webkit-input-placeholder {
        color: black;
    }
    
    input::-moz-placeholder,
    textarea::-moz-placeholder {
        color: black;
        font-size: 0.875em;
    }
    
    input:focus::-moz-placeholder,
    textarea:focus::-moz-placeholder {
        color: black;
    }
    
    input::placeholder,
    textarea::placeholder {
        color: black;
        font-size: 0.875em;
    }
    
    input:focus::placeholder,
    textarea::focus:placeholder {
        color: black;
    }
    
    input::-ms-placeholder,
    textarea::-ms-placeholder {
        color: black;
        font-size: 0.875em;
    }
    
    input:focus::-ms-placeholder,
    textarea:focus::-ms-placeholder {
        color: black;
    }
    /* on hover placeholder */
    
    input:hover::-webkit-input-placeholder,
    textarea:hover::-webkit-input-placeholder {
        color: black;
        font-size: 0.875em;
    }
    
    input:hover:focus::-webkit-input-placeholder,
    textarea:hover:focus::-webkit-input-placeholder {
        color: black;
    }
    
    input:hover::-moz-placeholder,
    textarea:hover::-moz-placeholder {
        color: black;
        font-size: 0.875em;
    }
    
    input:hover:focus::-moz-placeholder,
    textarea:hover:focus::-moz-placeholder {
        color: black;
    }
    
    input:hover::placeholder,
    textarea:hover::placeholder {
        color: black;
        font-size: 0.875em;
    }
    
    input:hover:focus::placeholder,
    textarea:hover:focus::placeholder {
        color: black;
    }
    
    input:hover::placeholder,
    textarea:hover::placeholder {
        color: black;
        font-size: 0.875em;
    }
    
    input:hover:focus::-ms-placeholder,
    textarea:hover::focus:-ms-placeholder {
        color: black;
    }
    
    header {
        position: relative;
        margin: 100px 0 25px 0;
        font-size: 2.3em;
        text-align: center;
        letter-spacing: 7px;
    }
    
    #form {
        position: relative;
        width: 90%;
        margin: 50px auto 100px auto;
    }
    
    input {
        font-size: 0.875em;
        width: 90%;
        height: 50px;
        padding: 0px 15px 0px 15px;
        background: transparent;
        outline: none;
        color: black;
        border: 1px solid black;
        border-bottom: none;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
    }
    
    input:hover {
        background: #eeeeee;
        color: black;
    }
    
    textarea {
        width: 90%;
        max-width: ;
        height: 110px;
        max-height: 110px;
        padding: 15px;
        background: transparent;
        outline: none;
        color: black;
        font-size: 0.875em;
        border: 1px solid black;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
    }
    
    textarea:hover {
        background: #eeeeee;
        color: black;
    }
    
    #submit {
        width: 90%;
        padding: 0;
        margin: -2px 0px 0px 0px;
        font-size: 0.875em;
        color: black;
        outline: none;
        cursor: pointer;
        border: 1px solid black;
        border-top: none;
    }
    
    #submit:hover {
        color: black;
        /*border-top: 1px solid black;*/
    }